body {
  background-color: var(--primary-bg);
  color: var(--text-primary);
}

:root {
  /* Dark Theme Variables */
  --primary-bg: #0A192F;
  --secondary-bg: #112240;
  --accent-1: #64FFDA;
  --accent-2: #8892B0;
  --text-primary: #CCD6F6;
  --text-secondary: #A8B2D1;
  --border-color: #233554;
  --navbar-bg: rgba(10, 25, 47, 0.8); /* Semi-transparent primary-bg for Navbar */
  --project-card-bg: #1A2A3A; /* Darker blue-grey for project cards */
}

body.light-theme {
  /* Light Theme Variables */
  --primary-bg: #F0F2F5;
  --secondary-bg: #FFFFFF;
  --accent-1: #20C997; /* Vibrant Teal-Green for light theme accent */
  --accent-2: #495057; /* Darker grey for secondary accent */
  --text-primary: #343A40;
  --text-secondary: #6C757D;
  --border-color: #DEE2E6;
  --navbar-bg: rgba(255, 255, 255, 0.8); /* Semi-transparent white for Navbar */
  --project-card-bg: #E8EBF0; /* Very light grey for project cards */
}

.mobile-padding-bottom {
  padding-bottom: 70px; /* Adjust this value based on the height of your bottom navigation bar */
}