.navbar {
    background-color: var(--navbar-bg);
    padding: 20px 0;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 2;
  }
  
  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 20px;
  }  
  .logo {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    text-decoration: none;
  }
  
  .links {
    display: flex;
    
  }

  .links a {
    color: var(--text-primary);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .links a:hover {
    color: var(--accent-1);
  }

  .navItems {
    display: flex;
    align-items: center;
  }

  .themeSwitcher {
    font-size: 20px;
    cursor: pointer;
    color: var(--text-primary);
    margin-left: 50px;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .links {
      display: none; 
    }
  }